{% extends 'base.html.twig' %}

{% block title %}Hello PricingController!{% endblock %}

{% block body %}
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="stylesheet" href="css/foundation.css">
    <script defer src="js/jsmine.js"></script>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap" rel="stylesheet">
  </head>
  <body id="personal">

    <div class="grid-container">
      <div class="grid-x grid-margin-x align-center middle container">
        <div class="phone-border">

          <img src="https://i.ibb.co/yn36zR0/concentrixlogo.png" class="cover-img">

          <div class="cell auto text-center">
            <img src="https://i.ibb.co/DKvcD6j/mikephoto.jpg" class="profile-picture">
            <a>
              <img src="https://i.ibb.co/72VGttY/bookmark-icon.png" class="bookmark-icon">
            </a>
          </div>

          <div class="cell auto text-center">
            <p class="profile-font profile-info-name">
              Mike Harington
            </p>
            <p class="profile-font profile-info-title">
              Software Developer
            </p>
          </div>

          <div class="cell auto text-center">
            <button class="share-btn">
              <img src="https://i.ibb.co/C0kK58X/share-icon.png" class="share-btn-pic">
              Share
            </button>
          </div>

          <div class="cell auto text-center">
            <div class="border-line"></div>
          </div>

          <nav>
            <div class="links">
              <div class="cell auto text-center">
                <a data-active="personal" href="C:\Design\personal.html">
                  Personal
                </a>
                <a data-active="company" href="C:\Design\company.html">
                  Company
                </a>
                <a data-active="qr" href="C:\Design\qr.html">
                  QR Code
                </a>
              </div><br>
            </div>
          </nav>

          <a class="info-text"><img src="https://i.ibb.co/k93ytLd/phone-calling.png" class="personal-icon">
            09694688576
          </a><br>
          <a class="info-text"><img src="https://i.ibb.co/V2XQ9p9/email-icon.png" class="personal-icon">
            mikeharrington@gmail.com
          </a>
          <a class="info-text"><img src="https://i.ibb.co/KKH77XN/linkedin-icon.png" class="personal-icon">
            https://www.linkedin.com/mikeh
          </a>

          <img src="https://i.ibb.co/5Fdk2TP/footer-background.png" class="footer-img">

          </div>
        </div>
    </div>
</body>
</html>
{% endblock %}